---
import BaseLayout from '@/layouts/BaseLayout'
import ListPosts from '@/components/ListPosts'
import TitlePage from '@/components/TitlePage'
import { getTags, getPostByTag } from '@/utils'

export const prerender = true;

export async function getStaticPaths() {
  const tags = await getTags()
  
  return tags.map((tag) => ({
    params: { tag: tag.toLowerCase() },
    props: { tag }
  }))
}

const { tag } = Astro.props
const posts = await getPostByTag(tag)
---

<BaseLayout title={tag}>
  <TitlePage title={`#${tag}`} />
  {posts.length > 0 ? (
    <ListPosts posts={posts} />
  ) : (
    <p class="text-center">No hay artículos con esta etiqueta</p>
  )}
</BaseLayout>