#!/usr/bin/env bash

if [[ $(type -t use_flake) != function ]]; then
  echo "ERROR: use_flake function missing."
  echo "Please update direnv to v2.30.0 or later."
  exit 1
fi

use flake

# Unset LD_LIBRARY_PATH if inside devcontainer
if [[ "${IS_DEVCONTAINER}" == "true" ]]; then
  unset LD_LIBRARY_PATH
fi

PATH_add "$PWD/node_modules/.bin"

dotenv_if_exists .env
dotenv_if_exists .local.env

# add symlink to environment (useful for IDE)
ln -sfn $DEVSHELL_DIR .venv