---
import { getCollection, type CollectionEntry } from 'astro:content'
import PostCard from '@/components/newsletter/PostCard'
import { cn } from '@/utils'

type Props = {
	posts: CollectionEntry<'newsletter'>[]
	FirstBig?: boolean
}
/* const allNewsletterPosts = await getCollection('newsletter'); */
const { posts, FirstBig = false } = Astro.props
---

<section
	class={cn(
		`grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3  gap-8 mt-3`,
		FirstBig && `md:[&>*:first-child]:col-span-2`
	)}>
		{
		posts
			.sort((a, b) => {
				const dateA: Date = new Date(b.data.pubDate);
				const dateB: Date = new Date(a.data.pubDate);
				return dateA.getTime() - dateB.getTime();
			})
			.map(async (post) => {
				const { remarkPluginFrontmatter } = await post.render()

				return (
					<PostCard
						data={post.data}
						slug={post.slug}
						readTime={remarkPluginFrontmatter.minutesRead}
					/>
				)
			})
	}
</section>
