---
import FormMailerLite from "./FormMailerLite.astro"
---

<div class="absolute top-0 left-0 w-full h-full z-30 hidden" id="pop-up">
   <div class="w-full h-full dark:bg-black bg-gray-300 opacity-75 absolute top-0 left-0" />
   <div class="w-full h-full z-50 flex flex-col fixed">
      <div class="w-full flex flex-row justify-end items-center px-8 py-6">
         <button id="close-pop-up">
            <svg
               xmlns='http://www.w3.org/2000/svg'
               class='icon icon-tabler icon-tabler-x'
               width='32'
               height='32'
               viewBox='0 0 24 24'
               stroke-width='1.25'
               stroke='currentColor'
               fill='none'
               stroke-linecap='round'
               stroke-linejoin='round'>
               <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
               <path d='M18 6l-12 12'></path>
               <path d='M6 6l12 12'></path>
            </svg>
         </button>
      </div>
      <div class="w-full h-full flex justify-center items-center">
         <FormMailerLite>
      </div>
   </div>
</div>
<script>
   const close = document.getElementById('close-pop-up');
   const popUp = document.getElementById('pop-up');
   close.addEventListener('click', () => {
      console.log(popUp);
      popUp.classList.add('hidden');
   })
</script>