@import url(../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css);
@import "katex/dist/katex.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		transition: background-color 0.5s ease;
	}

	.prose code {
		@apply text-base;
	}

	@font-face {
		font-family: 'Manrope';
		src: url('../assets/fonts/Manrope-SemiBold.woff2') format('woff2');
		font-weight: 600;
		font-style: normal;
	}

	@font-face {
		font-family: 'Manrope';
		src: url('../assets/fonts/Manrope-Medium.woff2') format('woff2');
		font-weight: 500;
		font-style: normal;
	}

	@font-face {
		font-family: 'Manrope';
		src: url('../assets/fonts/Manrope-Light.woff2') format('woff2');
		font-weight: 300;
		font-style: normal;
	}

	@font-face {
		font-family: 'Manrope';
		src: url('../assets/fonts/Manrope-Regular.woff2') format('woff2');
		font-weight: 400;
		font-style: normal;
	}

	.prose h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-zinc-800 dark:text-zinc-100 !important;
	}
	.katex-display {
        @apply overflow-x-auto overflow-y-hidden py-4;
    }

    .katex {
        @apply text-zinc-800 dark:text-zinc-100;
    }

    /* Estilos para fórmulas matemáticas en modo oscuro */
    .dark .katex {
        @apply text-zinc-100;
    }

    /* Ajustes para el contenedor de fórmulas */
    .math-display {
        @apply my-4 px-2;
    }
}

.moon-logo {
	transform: translateY(0%) rotateZ(0deg);
}

.sun-logo {
	transform: translateY(0) rotateZ(0deg);
}

.animate-sun {
	transform: translateY(20%) rotateZ(100deg);
}

.animate-moon {
	transform: translateY(20%) rotateZ(50deg);
}

.glass {
	backdrop-filter: blur(10px) brightness(0.7);
	-webkit-backdrop-filter: blur(10px) brightness(0.7);
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.1);
	z-index: -1;
}

.bgvialabs {
	background: #64D2E6;
}

.bgvialabs2 {
	background: #399AAC;
}
