---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
import { getTags } from '@/utils'
import Tag from '@/components/Tag' // Importar el componente Tag

export const prerender = true;

const tags = await getTags()
---

<BaseLayout title="Tags">
  <TitlePage title="Tags" />
  <div class="flex flex-wrap gap-4 justify-center items-center my-8">
    {
      tags.map((tag) => (
        <Tag tag={tag} />
      ))
    }
  </div>
</BaseLayout>