---
import ListCategories from '@/components/ListCategories'
import ListPostsIndex from '@/components/ListPostsIndex'
import Shape from '@/components/icons/Shape'
import BaseLayout from '@/layouts/BaseLayout'
import { getNewsletterPosts, getPosts } from '@/utils'


const MAX_POSTS = Infinity; // Show all posts
const posts = await getPosts(MAX_POSTS);
const newsletters = await getNewsletterPosts(MAX_POSTS);

---

<BaseLayout
	title='Mindful ML - Cada viernes un email sobre IA'
	description='ViaLabs Digital - Consultoría Tecnológica | Machine Learning | SEO | Diseño web'
>


	<div class='flex flex-col md:flex-row justify-start items-center gap-2 title'>
		<Shape />
		<div class="flex flex-col gap-2 w-3/4">
			<h1 class='text-3xl lg:text-5xl font-semibold tracking-wide text-center md:text-left'>
				Blog y Newsletter sobre Machine Learning
			</h1>
			<p class="text-lg text-center md:text-left">Un email sobre machine learning cada viernes</p>
		</div>
	</div>
	<ListCategories />

	<div>
		<ListPostsIndex FirstBig={true} posts={posts} newsletters={newsletters}/>
	</div>
</BaseLayout>

<script>
	import { animate } from 'motion';

	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}

</script>
