---
import ListCategories from '@/components/ListCategories'
import ListPosts from '@/components/ListPosts'
import CloseIcon from '@/components/icons/CloseIcon'
import Shape from '@/components/icons/Shape'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts } from '@/utils'

export const prerender = false

const MAX_POSTS = 5 // max number of posts to show on the home page
const posts = await getPosts(MAX_POSTS);
const confirmation = Astro.url.searchParams.get('confirmation');
let confirm = ""

if(confirmation === "needed"){
	confirm = "not confirmed"
}

if(confirmation === "success"){
	Astro.cookies.set('confirmed', 'true');
	confirm = "confirmed"
}


---

<BaseLayout
	title='Mindful ML - Cada viernes un email sobre IA'
	description='ViaLabs Digital - Consultoría Tecnológica | Machine Learning | SEO | Diseño web'
>


	<div class='flex justify-start items-center gap-2 title'>
		<Shape />
		<h1 class='text-5xl font-semibold tracking-wide'>
			Mindful ML - Cada viernes un email sobre IA
		</h1>
	</div>
	{confirm === "not confirmed" && (
	<div class="w-full bg-yellow-300 text-center flex justify-center items-center rounded-lg py-2 px-2" id="not-confirmed">
		<p class="flex-grow text-sm">¡Confirma con tu correo electronico!</p>
		<button id="close-not-confirmed-pop-up"><CloseIcon /> </button>
	</div>
	)}
	{confirm === "confirmed" && (
	<div class="w-full bg-green-300 text-center flex justify-center items-center rounded-lg py-2 px-2" id="confirmed">
		<p class="flex-grow text-sm">¡Correo electrónico confirmado correctamente!</p>
		<button id="close-confirmed-pop-up"><CloseIcon /> </button>
	</div>
	)}
	<ListCategories />

	<div>
		<h2 class='text-lg font-medium tracking-wide text-end'>Último Artículo</h2>
		<ListPosts FirstBig={true} posts={posts} />
	</div>
</BaseLayout>

<script>
	import { animate } from 'motion';

	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}

</script>
