---
import type { CollectionEntry } from 'astro:content'
import PostCard from '@/components/PostCard'
import { cn } from '@/utils'

type Props = {
  posts: CollectionEntry<'blog'>[]
  FirstBig?: boolean
}

const { posts, FirstBig = false } = Astro.props

const allEntries: CollectionEntry<'blog'>[] = [...posts]
  .filter((entry) => entry.data.pubDate) // Filter out entries without a pubDate
  .sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime());
---

<article>
  <p class="text-4xl font-medium tracking-wide text-start my-4">Todos los artículos</p>
  <section
    class={cn(
      `grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mt-3`,
      FirstBig && `md:[&>*:first-child]:col-span-2`
    )}
  >
    {allEntries.map(async (entry) => {
      const { remarkPluginFrontmatter } = await entry.render();

      return (
        <PostCard
          data={entry.data}
          slug={entry.slug}
          readTime={remarkPluginFrontmatter?.minutesRead || 'N/A'}
        />
      );
    })}
  </section>
</article>
