---
const { chart } = Astro.props;
---

<div class="mermaid">
{chart}
</div>

<script type="module" client:load>
import mermaid from "mermaid";

mermaid.initialize({
  startOnLoad: false,
  theme: "neutral"
});
</script>