---
const { chart } = Astro.props;
---

<div class="mermaid">
{chart}
</div>

<script type="module">
import mermaid from "mermaid";

mermaid.initialize({
  startOnLoad: true,
  theme: "default"
});
</script>