---
import ListCategories from '@/components/ListCategories'
import ListPosts from '@/components/newsletter/ListPosts'
import Shape from '@/components/icons/Shape'
import BaseLayout from '@/layouts/BaseLayout'
import { getNewsletterPosts } from '@/utils'

export const prerender = false
const MAX_POSTS = 5 // max number of posts to show on the home page
const posts = await getNewsletterPosts(MAX_POSTS)
---

<BaseLayout
	title='Mindful ML - Cada viernes un email sobre IA'
	description='ViaLabs Digital - Consultoría Tecnológica | Machine Learning | SEO | Diseño web'
>
	<div class='flex flex-col md:flex-row justify-start items-center gap-2 title'>
		<Shape />
		<h1 class='text-3xl lg:text-5xl font-semibold tracking-wide text-center md:text-left'>
			Mindful ML - Cada viernes un email sobre IA
		</h1>
	</div>

	<ListCategories />

	<div>
		<h2 class='text-lg font-medium tracking-wide text-end'>Último Artículo</h2>
		<ListPosts FirstBig={true} posts={posts} />
	</div>
</BaseLayout>

<script>
	import { signInWithCustomToken, getAuth, verifyBeforeUpdateEmail } from 'firebase/auth';
	import { app } from '../../firebase/client';
	import { animate } from 'motion';
	const url = new URL(window.location.href);
	const customToken = url.searchParams.get('customToken');
	const email = url.searchParams.get('email');
	const customTokenAlreadyPresent = url.searchParams.get('customTokenAlreadyPresent');

	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}

	if(customToken) {
		const auth = getAuth(app)
		const userCredential = await signInWithCustomToken(auth, customToken)
		const idToken = await userCredential.user.getIdToken()
		const user = userCredential.user
		if (!user.email) {
			// Nuovo indirizzo email

			// Aggiorna l'indirizzo email
			verifyBeforeUpdateEmail(user, email!)
				.then(() => {
					console.log('Email updated successfully')
				})
				.catch((error) => {
					console.error('Error updating email: ', error)
				})
		} else {
			console.log('email already present!')
		}

		const response = await fetch('/api/auth/signin', {
			method: 'GET',
			headers: {
				Authorization: `Bearer ${idToken}`
			}
		})

		if (response.redirected) {
			window.location.assign(response.url)
		}
	}

	if(customTokenAlreadyPresent) {
		const auth = getAuth(app)
		const userCredential = await signInWithCustomToken(auth, customTokenAlreadyPresent);
		const idToken = await userCredential.user.getIdToken();
		const response = await fetch('/api/auth/signin', {
			method: 'GET',
			headers: {
				Authorization: `Bearer ${idToken}`
			}
		})

		if (response.redirected) {
			window.location.assign(response.url)
		}
	}
</script>
