---
import BaseHead from '@/components/BaseHead'
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import ProviderTheme from '@/components/ProviderTheme'
import ProviderAnimations from '@/components/ProviderAnimations'
import { app } from '../firebase/server'
import { getAuth } from 'firebase-admin/auth'
import { getFirestore } from 'firebase-admin/firestore'

interface User {
	id: string
	email: string
}

const { title, description, image, articleDate } = Astro.props

const params = Astro.url.searchParams

const db = getFirestore(app)
const usersRef = db.collection('users')
const usersSnapshot = await usersRef.get()
/* const usersSnapshot = await usersRef.doc('GkH0QtbYFTlsu0ZR63RA').get(); */
/* 
const user = usersSnapshot.data() as User; */
const users = usersSnapshot.docs.map((doc) => ({
	id: doc.id,
	...doc.data()
})) as User[]


/* console.log(users); */
---

<html lang='es' class='scroll-smooth'>
	<head>
		<BaseHead title={title} description={description} ogImage={image} articleDate={articleDate} />

		<ProviderTheme />
		<ProviderAnimations />
	</head>

	<body class='relative bg-white text-stone-950 dark:bg-[#0a0910] dark:text-white'>
		<main
			class='mx-auto max-w-xs sm:max-w-2xl sm:px-8 lg:px-0 antialiased md:max-w-6xl grid gap-12 mt-4'
		>
			<Header />
			<slot />
			<Footer />
		</main>
	</body>
</html>
